@font-face {
  font-family: noto;
  src: url("../fonts/noto.otf");
}

body {
	font-family: noto;
	margin: 5%;
	text-align: justify;
	font-size: large;
	background-color: #FFFFFF;
}

h1 {
	text-align: center;
	font-size: 150%;
}

section h1.hidden {
	display: none;
}

.zhrr-direct {
	color: #0000CC;
}

.zhrr-letter {
	background-color: #FFFFCC;
}

h1.title { }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
code{ white-space: pre-wrap; }
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
@media screen { /* Workaround for iBooks issue; see #6242 */
  .sourceCode {
    overflow: visible !important;
    white-space: pre-wrap !important;
  }
}
